<p id="notice"><%= notice %></p>

<h1>Artistes</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Nombre de chansons</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artistes.each do |artiste| %>
      <tr>
        <td><%= artiste.nom %></td>
        <td><%= artiste.chansons.count %></td>
        <td><%= link_to 'Show', artiste %></td>
        <td><%= link_to 'Edit', edit_artiste_path(artiste) %></td>
        <td><%= link_to 'Destroy', artiste, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artiste', new_artiste_path %>
