<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :is_already_bought %>
    <%= form.check_box :is_already_bought %>
  </div>

  <div class="field">
    <%= form.label :rayon %>
    <%= form.collection_select :rayon_id, Rayon.order("label").all, :id, :label %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
