<!DOCTYPE html>
<html>
  <head>
    <title>Team Shopping</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'appli', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'nested_form' %>
    <%= javascript_pack_tag 'coucou' %>
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.32.0.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
